<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<p class="f3 lh-title light-gray b tc mb2">RokLink - Rokenbok Set Database</p>
			<p class="tc">To document and preserve Rokenbok</p>

		</div>

		<div class="mw6 center flex-ns justify-between">

			<div>
				<!-- <h3 class="f4 b lh-title mb1 primary">Kaldi</h3> -->
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					{{ range .Site.Data.nav }}
						<li><a href="/{{.route}}" class="link">{{.name}}</a></li>
					{{ end }}
					<li><a href="/admin/" class="link f6" style="color: #555;">Admin Login</a></li>
				</ul>
			</div>

			<div>
				<!-- <h3 class="f4 b lh-title mb2 primary">Social media</h3> -->
				<ul>
					<li class="dib ph2 raise">
					  <a href="https://discord.gg/5Wx9MT7" class="link bg-white black db relative br1 pa2">
					  	Join us on <img src="/img/icons-discord.svg">
					  </a>
					</li>
				</ul>
			</div>

		</div>
	</div>

</footer>

<script src="/app.js"></script>
