<head>

  <title>{{ .Title }} | {{ $.Site.Title }}</title>

	{{ $stylesheet := .Site.Data.webpack.main }}
	{{ with $stylesheet.css }}
		<link href="{{ relURL . }}" rel="stylesheet">
	{{ end }}
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<base href='{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}'>

	<!-- Favicons -->
	<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" sizes="32x32">
	<meta name="theme-color" content="#fff">

	{{ if .IsHome }}
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	{{ end }}
	<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
	-->
	<script type="text/javascript">
		$(document).ready( function () {
			$('.datatable').DataTable();
		} );
	</script>
</head>
