

<div class="" style="
  /* sets the height of the jumbotron */
  height: 250px;
  overflow: hidden;
  /* need this so the bgimage height and width can be relative to parent */
  position: relative;">

  <div class="bg-center cover" style="
  /* background image with blur */
  background: url('{{.imageUrl}}');
  background-position: center;
  filter: blur(2px) brightness(75%);
  /* Fill the parent */
  height: 125%;
  width: 100%;
  /* Let the text stack on top */
  position: absolute;
  margin-top: -25px;
  "></div>

  <div class="mw7 center ph3 pt2" style="text-shadow: 0px 0px 2px #000">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary mb3">
        <h1 class="f2 f1-l b di lh-title mb3 white mw-none">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary">
        {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 white ">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
