{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Site.Data.constants.jumbotronImg "title" .Params.title "subtitle" .Params.subtitle ) }}

<div class="mw7 center">
  <ul class="flex-ns flex-wrap mhn1-ns pa3">
      {{ range .Pages.ByParam "year" }}
          <div class="w-50-ns ph1-ns flex">
            <a href="{{ .RelPermalink }}" class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100">
            	<h2 class="f3 b lh-title mb1 primary">{{ .Title }}</h2>
              <p class="mid-gray lh-title mb2 fr" title="SKU(s)">{{ delimit .Params.skus ", " }}</p>
            	<p class="mid-gray lh-title mb2">
                <span title="Set release year">{{ .Params.year }}</span>
                --
                <span title="Set Category">{{delimit .Params.categories ", "}}</span>
                --
                {{ $partCount := 0 }}

                {{ range .Params.parts }}
                  {{ $partCount = (add $partCount (int .qty)) }}
                {{ end }}

                <span title="Part Count">{{ $partCount }}</span>
              </p>

              {{if .Params.thumb }}
                <img src="{{ .Params.thumb }}" class="fl mr2 br2" style="max-width: 200px">
              {{ end }}
            	<p class="mb0">{{ .Description }}</p>
            	<p class="link b dib black mb0">Read more →</p>
            </a>
          </div>
      {{ end }}
      <h3> Are we missing something?
        <a href="{{.Site.Data.constants.repoUrl}}/issues/new?title=Suggestion+For+Missing+{{.Type|humanize}}" target="__BLANK">Tell us here</a>
      </h3>
  </ul>
</div>

{{end}}
