{{ define "main" }}

  <div class="mw6 center ph3 pv4">
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
    <div class="flex justify-between grey-3">
      <p>
        <a href="/year/{{ .Params.year }}" title="See other sets released in this year">{{ .Params.year }}</a>
        --
        {{range .Params.categories}}
          <a href="/categories/{{.|urlize}}" title="See other sets in this category">{{.}}</a>
        {{end}}
        --
        {{ $partCount := 0 }}

        {{ range .Params.parts }}
          {{if not (isset . "nocount") }}
            {{ $partCount = (add $partCount (int .qty)) }}
          {{end}}
          
        {{ end }}

        <span title="Part Count">{{ $partCount }}</span>
      </p>
      <p>
        {{range .Params.skus}}
          <a href="/skus/{{.|urlize}}" title="See other sets with this SKU">{{.}}</a>
        {{end}}
      </p>
    </div>
    <div class="flex justify-between grey-3 mb3">
      <div>
        <a href="{{.Site.Data.constants.repoUrl}}/edit/master/site/content/{{.File | urlize}}" target="__BLANK">Edit on Github</a>
      </div>
      <div>
        <a href="{{.Site.Data.constants.repoUrl}}/issues/new?title={{(replace (print "suggestion for " .File) " " "+")}}" target="__BLANK">Report Issue / Suggest Change</a>
      </div>
    </div>


    <div class="cms mw6">

      {{ if .Params.thumb }}
        <img src="{{ .Params.thumb }}" alt="{{ $.Title }}" class="fl mr2" style="max-width: 200px;margin-right: .5rem;" />
      {{ end }}
      <p>{{ .Description }}</p>

      <!-- If the description is too short, make sure the next bits start after the image -->
      <div class="cf"></div>


      <h4 class="f4">Archive Links</h4>
      <ul>
        {{range .Params.archiveLinks}}
        <li>
          <a href="{{.link}}">{{.name}}</a>
        </li>
        {{end}}
      </ul>

      <h4 class="f4">Price History</h4>
      <ul>
        {{range .Params.priceHistory}}
        <li>{{.date}} - ${{.price}}</li>
        {{end}}
      </ul>

      {{ if and (isset .Params "video") (gt (len .Params.video) 1) }}
      <h4 class="f4">Video</h4> {{.Params.video}}
      {{ end }}

      <h4 class="f4">Videos
        {{if isset .Params "videoEmbeds"}}
          ({{ len .Params.videoEmbeds }})
        {{end}}
      </h4>
      {{range .Params.videoEmbeds}}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{.}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      {{end}}

      <h4 class="f4">Plans</h4>
      <ul>
        {{range .Params.plans}}
        <li>
          <a href="{{.link}}" target="__BLANK">{{.name}}</a>
        </li>
        {{end}}
      </ul>

      <h4 class="f4">All Images ({{ len (union (slice .Params.thumb) .Params.images) }})</h4>
      <ul>
        {{range union (slice .Params.thumb) .Params.images }}
        <li>
          <a href="{{.}}" target="__BLANK" title="Click to see largest version">
            <img src="{{.}}">
          </a>
        </li>
        {{end}}
      </ul>

      Parts Count: {{ $partCount }}
      <h4 class="f4">Part List</h4>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Qty</th>
            <th>Color</th>
            <th>Desc</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          {{ range .Params.parts }}
          <tr>
            <td>{{.name}}</td>
            <td>{{.qty}}</td>
            <td>{{.color}}</td>
            <td>{{.desc}}</td>
            <td>
              {{if isset . "nocount"}}
              <span title="This part is part of an assembly an is not included in the part count.">Not Counted</span>
              {{end}}
            </td>
          </tr>
          {{ end }}

        </tbody>
      </table>
      <br>
      <h4 class="f3">Description</h4>

      {{ .Content }}
    </div>
  </div>
{{ end }}
