{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Site.Data.constants.jumbotronImg "title" .Params.title "subtitle" .Params.subtitle ) }}


{{$scratch := newScratch}}

{{ range (where $.Site.RegularPages "Section" "set") }}

	{{$set := .Params.title}}
	{{/*Set: {{$set}} <br>*/}}
	
	{{ range .Params.parts }}

		{{$name := .name}}
		{{/*=====> Part: {{$name}}<br>*/}}

		{{$part := $scratch.Get $name}}
		{{if not $part}}
			<!-- create -->
			{{$part := slice}}
		{{end}}
		<!-- append --> 
		{{ $scratch.Set $name ($part | append (dict "set" $set "qty" .qty "color" .color "desc" .desc)) }}
		
		{{/*<br>*/}}

	{{ end }}

{{ end }}

{{/*jsonify $scratch.Values*/}}



<div class="mw6 center ph3 pv4">
  <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
  <div class="flex justify-between grey-3">
    <p></p>
    <p></p>
  </div>
  <div class="cms mw6">

    
    <ul>
      {{ range $partName, $data := $scratch.Values }}
        <li><a href=" .Page.Permalink ">{{ $partName }}</a> ({{ len $data }})</li>
      {{ end }}
    </ul>

  </div>
</div>
	

{{end}}
