{{ define "main" }}

  {{ partial "jumbotron" (dict "imageUrl" .Site.Data.constants.jumbotronImg "title" .Params.title "subtitle" .Params.subtitle ) }}


  <!-- 
  {
    PartName: [
      {
        set
        qty
        color
        desc
      }
    ]
  }
   -->
  {{$scratch := newScratch}}

  {{ range (where $.Site.RegularPages "Section" "set") }}

  	{{$set := .Params.title}}
  	{{/*Set: {{$set}} <br>*/}}
  	
  	{{ range .Params.parts }}

  		{{$name := .name}}
  		{{/*=====> Part: {{$name}}<br>*/}}

  		{{$part := $scratch.Get $name}}
  		{{if not $part}}
  			<!-- create -->
  			{{$part := slice}}
  		{{end}}
  		<!-- append --> 
  		{{ $scratch.Set $name ($part | append (dict "set" $set "qty" .qty "color" .color "desc" .desc)) }}
  		
  		{{/*<br>*/}}

  	{{ end }}

  {{ end }}

  {{/*jsonify $scratch.Values*/}}

  {{$list := false}}
  {{$tiles := true}}

  {{ if $list}}

    <div class="mw6 center ph3 pv4">
      <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
      <div class="flex justify-between grey-3">
        <p></p>
        <p></p>
      </div>
      <div class="cms mw6">

        
        <ul>
          {{ range $partName, $data := $scratch.Values }}
            <li><a href=" .Page.Permalink ">{{ $partName }}</a> ({{ len $data }})</li>
          {{ end }}
        </ul>

      </div>
    </div>
  	

  {{ end }}
  

<div class="mw7 center">
  <ul class="flex-ns flex-wrap mhn1-ns pa3">
      {{ range (.Paginator 150).Pages }}
          <div class="w-50-ns ph1-ns flex">
            <a href="{{ .RelPermalink }}" class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100">
              <h2 class="f3 b lh-title mb1 primary">{{ .Title }}</h2>
              <p class="mid-gray lh-title mb2 fr"></p>
              <p class="mid-gray lh-title mb2">
                {{ if isset $scratch.Values .Title}}
                  Found in {{ len ($scratch.Get .Title) }}
                  {{ if eq (len ($scratch.Get .Title)) 1}}
                  set
                  {{else}}
                  sets
                  {{end}}
                {{ end }}
                {{$scratch.Delete .Title}}
              </p>

              

              <img src="{{ .Params.thumb }}" class="fl mr2 br2" style="max-width: 200px">
              
              <p class="mb0">{{ .Description }}</p>
              <p class="link b dib black mb0">Read more →</p>
            </a>
          </div>
      {{ end }}
  </ul>
  {{ partial "pagination" . }}
</div>

<div class="mw7 center">
  <hr>
  <h1>Here</h1>

  {{ if $tiles}}

    <div class="mw7 center">
      <ul class="flex-ns flex-wrap mhn1-ns pa3">
          {{ range $partName, $data := $scratch.Values }}
              <div class="w-50-ns ph1-ns flex">
                <a href=" .RelPermalink }}" class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100">
                  <h2 class="f3 b lh-title mb1 primary">{{$partName}}</h2>
                  <p class="mid-gray lh-title mb2 fr"></p>
                  <!-- <p class="mid-gray lh-title mb2">{ .Params.year }} -- {delimit .Params.categories ", "}}</p> -->

                  <!-- {if .Params.thumb }} -->
                  <img src="/img/parts/{{$partName | lower | urlize}}.jpg" class="fl mr2 br2" style="max-width: 200px">
                  <!-- { end }} -->
                  <!-- <p class="mb0">{ .Description }}</p> -->

                  <p class="mb0">
                  <table class="f6 w-100 mw8 center" cellspacing="0">
                    <thead>
                      <tr>
                        <th class="fw6 tl pa3 bg-white">Set</th>
                        <th class="fw6 tl pa3 bg-white">Qty</th>
                        <th class="fw6 tl pa3 bg-white">Color</th>
                        <th class="fw6 tl pa3 bg-white">Desc</th>
                      </tr>
                    </thead>
                    <tbody class="lh-copy">
                    {{ range $data }}
                    <tr class="stripe-dark">
                      <td class="pa3">{{.set}}</td>
                      <td class="pa3">{{.qty}}</td>
                      <td class="pa3">{{.color}}</td>
                      <td class="pa3">{{.desc}}</td>
                    </tr>
                  {{ end }}
                    </tbody>
                  </table>
                  

                </p>
                  
                  <p class="link b dib black mb0">Read more →</p>
                </a>
              </div>
          {{ end }}
      </ul>
    </div>

  {{ end }}
</div>


{{end}}
