{{ define "main" }}
  <div class="container">
    <h1>{{.Title}}</h1>
    {{ partial "contribute" . }}

    <div class="row">

      <div class="col">
        {{ if .Params.thumb }}
          <img
            src="{{ .Params.thumb }}"
            alt="{{ $.Title }}"
            class="float-left"
            style="max-width: 200px; margin-right: .5rem;" />
        {{ end }}
        <p>{{ .Description }}</p>
      </div>

      <div class="col">
        {{ if .Params.cadfiles }}
        <!-- Don't display if no cad file is present -->
          <h4>3D Models</h4>
          <ul>
            {{range .Params.cadfiles}}
              <li>
                <a href="{{.link}}" target="__BLANK">{{.name}}</a> by {{.creator}}
              </li>
            {{end}}
          </ul>
        {{end}}
      </div>
    </div>

    <div class="row">
      <div class="col">

        <h4>Sets with this Part</h4>
        <!-- for each set
          for each part
            if part.name matches any of this part names -->
        {{ $myNames := slice ( .Title ) }}
        {{ if isset .Params "othernames" }}
          {{ $myNames = ( $myNames | append .Params.otherNames ) }}
        {{ end }}

        <table class="datatable table table-striped table-bordered">
          <thead>
            <tr>
              <th>Set</th>
              <th>Qty</th>
              <th>Color</th>
              <th>Desc</th>
            </tr>
          </thead>
          <tbody>

            {{ range (where $.Site.RegularPages "Section" "set") }}

              {{$set := .Params.title}}

              {{ range .Params.parts }}
                <!-- name of the part -->
                {{ $name := .name }}

                {{ if in $myNames $name }}
                <tr>
                  <td>
                    {{$page := index (where $.Site.RegularPages ".Title" "eq" $set) 0 }}
                    <a href="{{$page.RelPermalink}}">{{ $set }}</a>
                  </td>
                  <td>{{ .qty }}</td>
                  <td>{{ .color }}</td>
                  <td>{{ .desc }}</td>
                </tr>
                {{ end }}

              {{ end }}

            {{ end }}
          </tbody>
        </table>

        {{ partial "images" .}}

        {{ .Content }}

      </div>
    </div>


  </div>


{{ end }}
