{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Site.Data.constants.jumbotronImg "title" .Params.title "subtitle" .Params.subtitle ) }}

<div class="container">
	<div class="row">
		<div class="col">
			{{ .Content }}
		</div>
	</div>
	<div class="row">
		{{ range .Params.tiles }}
			<div class="col">
				<h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
				{{ if (isset . "text") }}
				    {{ .text }}
				{{ end }}

				{{ if (isset . "items") }}
				<ul>
					{{ range .items }}
						<li>
							{{ if isset . "url"}}
								<a href="{{.url}}" target="_BLANK">{{.name}}</a>
							{{ else }}
								{{ . }}
							{{ end }}
							
						</li>
					{{ end }}
				</ul>
				{{ end }}

				{{ if (isset . "links") }}
				<ul>
					{{ range .links }}
						<li>
							<a href="{{.url}}" target="_BLANK">{{.name}}</a>
						</li>
					{{ end }}
				</ul>
				{{ end }}

			</div>
		{{ end }}
		<!-- <div class="col"></div> -->
	</div>
</div>





{{ end }}
