<style type="text/css">
	.crop	{
		width: 200px;
		height: 110px;
		overflow: hidden;
		object-fit: cover;
		display: inline-block;
	}
</style>

<div class="card">
	<div class="card-body">
		<h4 class="card-title">{{ .Title }}</h4>
		<h5 class="card-subtitle mb-2 text-muted row">
			<span class="col">by {{ .Params.authors }}</span>
			<span class="col text-right">{{ dateFormat "Jan 2, 2006" .Params.date }}</span>
		</h5>
		<div class="crop float-left mr-2">
			<img src="{{ .Params.thumb }}" alt="{{ .Title }}" style="max-width: 200px">
		</div>
		<p class="card-text">
			{{ .Description }}
		</p>
		<a href="{{ .RelPermalink }}" class="stretched-link btn btn-primary float-right">Read more →</a>
	</div>
</div>




