{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Site.Data.constants.jumbotronImg "title" .Title "subtitle" .Params.subtitle) }}

<div class="container">

  <h1>Browse Rokenbok</h1>

  <div class="row mt-3">
    {{ range (where .Site.Data.nav "type" "primary") }}
    <div class="col">
      <a href="/{{.route}}" class="card">
        <div class="card-body" style="text-align: center;">
          <h2 class="card-title">{{.name}} &#8250;</h2>
          <h5 class="card-subtitle mb-2 text-muted">
            {{ len (where $.Site.RegularPages "Section" "==" .route) }} items
          </h5>
        </div>
      </a>
    </div>
    {{ end }}
  </div>
</div>

{{ partial "project-preview" . }}

{{ end }}
